.form__title_sign {
  text-align: center;
  margin-top: 60px;
}

.form__input_sign {
  border-bottom: 2px solid #cccccc;
  background: transparent;
  color: #cccccc;
  padding-top: 13px;
}

.form__input_sign::placeholder {
  color: #cccccc;
}

.form__button_sign {
  margin-top: 216px;
  color: black;
  background-color: white;
  height: 54px;
}

@media screen and (max-width: 544px) {
  .form_sign {
    width: 260px;
  }

  .form__button_sign {
    margin-top: 187px;
  }
}
